<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
	<meta charset="utf-8">
	<title>bullet board</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet">
</head>

<body>
	<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="wrapper wrapper-content animated fadeInRight">

					<div class="ibox-content forum-container">

						<div class="forum-item" th:each="post: ${posts}">
							<div class="row">
								<div class="col-md-7">
									<div class="forum-icon">
										<i class="fa fa-bookmark"></i>
									</div>
									<a href="/main/postDetail?postNo=" th:attrappend="href=${post.postNo}"
										class="forum-item-title" th:text="${post.postName}"></a>
									<div class="forum-sub-title" th:text="${post.summary}"></div>
								</div>
								<div class="col-md-2 forum-info">
									<div>
										<small>작성일</small>
									</div>
									<span class="views-number" th:text="${{post.modifiedDate}}"></span>

								</div>
								<div class="col-md-2 forum-info">
									<div>
										<small>작성자</small>
									</div>
									<span class="views-number" th:text="${post.author}"></span>

								</div>
								<div class="col-md-1 forum-info">
									<span class="views-number">
										<span class="fa-stack">
											<a class="fa fa-square fa-stack-2x"></a>
											<a class="fa fa-pencil fa-stack-1x fa-inverse" href="/main/postEdit?postNo="
												th:attrappend="href=${post.postNo}"></a>
										</span>
									</span>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">

	</script>
</body>

</html>
