<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
	<meta charset="utf-8">
	<title>bullet board</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-md-offset-2">

				<h1>게시글 추가</h1>

				<form name="validForm" action="/main/new/addpost.do" onsubmit="return validate();" method="post">

					<div class="form-group">
						<label for="postName">제목 <span class="require">*</span></label>
						<input type="text" class="form-control" name="postName" />
					</div>

					<div class="form-group">
						<label for="author">작성자 <span class="require">*</span></label>
						<input id="author" type="text" class="form-control" name="author" />
					</div>

					<div class="form-group">
						<label for="summary">내용 요약 <span class="require"></span></label>
						<input type="text" class="form-control" name="summary" />
					</div>

					<div class="form-group">
						<label for="description">내용 <span class="require">*</span></label>
						<textarea id="description" rows="30" class="form-control" name="description"
							style="resize: vertical"></textarea>
					</div>

					<div class="form-group">
						<p><span class="require">*</span> - 필수로 적어야 함</p>
					</div>

					<div class="form-group">
						<input type="submit" id="submit" value="저장" class="btn btn-primary">
						<button type="button" class="btn btn-default" th:onclick="|window.location.href='/cancel'|">
							취소
						</button>
					</div>
				</form>
			</div>

		</div>
	</div>
	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

	<script>
		function validate() {
			const postName = document.forms["validForm"]["postName"].value;
			const author = document.forms["validForm"]["author"].value;
			const desc = document.forms["validForm"]["description"].value;

			if (postName == "" || postName == null) {
				alert("제목은 필수로 적으셔야 합니다.");
				return false;
			}
			if (author == "" || author == null) {
				alert("작성자는 필수로 적으셔야 합니다.");
				return false;
			}
			if (desc == "" || desc == null) {
				alert("내용은 필수로 적으셔야 합니다.");
				return false;
			}
		}
	</script>
</body>

</html>