<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default_layout">

<head>
	<meta charset="utf-8">
	<title>bullet board</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

	<div class="container">
		<div class="row">
			<div class="col-lg-8">

				<h1><a href="" th:text="${post.postName}"></a></h1>
				<p class="lead"><i class="fa fa-user"></i> by <a href="" th:text="${post.author}"></a>
				</p>
				<hr>
				<p><i class="fa fa-calendar"></i> Posted on <span th:text="${{post.modifiedDate}}"></span></p>
				<hr>
				<p class="lead" th:text="${post.summary}"></p>
				<p th:text="${post.description}"></p>
			</div>
		</div>
	</div>

	<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>

</html>